.sidebar{
    width:200px;
    height: 100vh;
    background-color: white;
    display:flex;
    border-right: 1px;
    border-style: solid;
    border-color: black;
    border-top: 0;
    border-bottom: 0;
}
.header{
    display: flex;
    
    justify-content:flex-start
}
.header img{
    width: 80%
    
}
.sidebar-container{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap:20px;
    margin-left: 30px;
}
.nav{
    margin-top: 40px;
    display:flex;
    flex-direction: column;
    gap:80px
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    font-weight: 500;
    width:100px;
}   
.icon:hover{
    background-color:  rgb(242, 238, 238);
}